.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--max-section-width);
  margin: 0 auto 0;
  width: 90%;
  height: 100%;
  background-color: var(--light);
}

.contact__form {
  width: 90%;
  min-width: 20em;
  max-width: var(--max-form-width);
  background-color: var(--light);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 10px;
}

@media screen and (min-width: 885px) {
  .contact {
    padding-top: 0em;
  }
}

.contact-info__banners {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: var(--max-form-width);
  justify-items: center;
}

.banner__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--light);
  width: 90%;
  min-height: 10em;
  border-radius: 1em;
  padding: 1em;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  word-break: break-all;
}

.icon {
  margin-bottom: 1em;
  color: var(--primary);
}

.phone__link {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  margin: 0.5em 0;
  list-style: none;
  color: var(--text-color);
  text-decoration: none;
}

@media only screen and (min-width: 480px) {
  .phone__link {
    font-size: 1.2rem;
  }
  .banner__container {
    min-width: 15em; // Reduced minimum width to 15em
  }
}

@media only screen and (min-width: 900px) {
  .phone__link {
    font-size: 1.4rem;
  }
  .contact-info__banners {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; // Added a gap between the banners
  }
  .banner__container {
    padding: 2em; // Increased padding to maintain consistent look
  }
}

@media only screen and (min-width: 1200px) {
  .contact-info__banners {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); // Reduced minimum size for auto-fit
  }
  .banner__container {
    width: auto;
    max-width: none;
  }
}
