.homepage__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 2rem;
  position: relative;
  background-color: var(--light);
  max-width: var(--max-section-width);
  margin: 0 auto;
}
